
<h1 class="text-center mt-4"><%= @user.username %>'s profile</h1>

<%= gravatar_for @user, size: 200 %>

<% if @user.status == "seller" %>
    <h3 class="text-center mt-4">Properties</h3>
    <%= render 'properties/property' %>
<% end %>